# MongoDB
MONGODB_URI=${MONGODB_URI:-mongodb://api:password@localhost:27017/live-gui}

# Ateliere Live System Controlleer
LIVE_URL=${LIVE_URL:-https://localhost:8080}
LIVE_CREDENTIALS=${LIVE_CREDENTIALS:-admin:admin}
# This ENV variable disables SSL Verification, use if the above LIVE_URL doesn't have a proper certificate
NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED:-1}

# NextAuth 
NEXTAUTH_SECRET=${NEXTAUTH_SECRET:-C8611AD4F5481368AB18F32158DBC}
NEXTAUTH_URL=${NEXTAUTH_URL:-http://localhost:3000}
BCRYPT_SALT_ROUNDS=${BCRYPT_SALT_ROUNDS:-10}

# i18n
UI_LANG=${UI_LANG:-en}
