.circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;

  background-color: var(--indicator-color);
  box-shadow: 0px 0px 10px var(--indicator-color);

  &.running {
    transform: scale(1);
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.95);
  }
}
